@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at 12% 12%,
    rgba(92, 255, 176, 0.63) 0%,
    rgba(255, 255, 255, 1) 20%
  );
  background-repeat: no-repeat;
}

.stationSide {
  background-image: url("./assets/Quran.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
}
